<h3><%= @project.name %></h3>

<% @book_one = Book.new %>
 
<% if !@project.books.first %>
<%= form_with model: @book_one, url: '/books', method: "POST" do |f| %>
	<%= hidden_field_tag(:project_id, @project.id) %>
	<%= f.label :book_one %>
  	<%= f.file_field :file %>
  	<%= f.submit "Upload" %>
<% end %>
<% end %>

<table>
	<tr>
		<th>Words</th>
		<th>File 1</th>
		<th>File 2</th>
	</tr>
	<% if !@project.books.first.nil? %>
	<% @project.books.first.words.first.word_count.each do |k, v| %>
		<tr>
			<td>
				<%= k %>
			</td>
			<td>
				<%= v %>
			</td>
		</tr>
	<% end %>
	<% end %>
	

</table>